project/Yandex_Api_Schedule.json
{"flowContents":{"identifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99","instanceIdentifier":"4df634d0-019c-1000-76b9-48e9c555ddb1","name":"Yandex Api Schedule","comments":"","position":{"x":-384.0,"y":-232.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2556227f-d227-33de-a6b4-8b3094b50ff6","instanceIdentifier":"50e77e77-019c-1000-7c76-1ee05c36675f","name":"EvaluateJsonPath","comments":"","position":{"x":-784.0,"y":400.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","event":"$.event","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event":{"name":"event","displayName":"event","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"50ddd2e5-019c-1000-bf5a-bc6477236780","instanceIdentifier":"dc4a76cf-ddf6-3a25-b3b6-2f10633d63ba","name":"InvokeHTTP - departure","comments":"","position":{"x":48.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.rasp.yandex.net/v3.0/schedule/?apikey=#{ykey}&system=iata&station=${yairport}&transport_types=plane&limit=#{ylimit}&event=departure&date=${ydate}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"7641a9f9-4565-376f-8185-3a68f2ce6d13","instanceIdentifier":"4e3b89a2-019c-1000-87b8-d434679255f3","name":"ExecuteSQLRecord","comments":"","position":{"x":-808.0,"y":-416.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"esql-max-rows":"1","esqlrecord-record-writer":"ce990b44-d1fb-3f68-93d5-b93354ee612b","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT\n    CAST(\n    \tif(\n    \t\ts.dt = '1970-01-01' or s.dt = today(),\n    \t\ttoday() - 30,    \t\t\n    \t\ts.dt + INTERVAL 1 DAY\n    \t) AS String) AS dt,\n    a.iata, \n    a.airport\nFROM ya.airports a\nLEFT JOIN (\n    SELECT \n        yairport,\n        toDate(max(parseDateTime64BestEffort(date))) AS dt\n    FROM ya.schedule \n    GROUP BY yairport\n) s ON a.iata = s.yairport\nORDER BY a.iata;","Database Connection Pooling Service":"7f9066f9-6c7e-3767-a400-2bc1ce42d155","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"120 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"586ad02b-019c-1000-2f5e-43b33e06beec","instanceIdentifier":"f5fed3b5-50a7-3a31-377b-ed9201b27ff0","name":"JoltTransformJSON - departure","comments":"","position":{"x":-32.0,"y":960.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.6.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"dat\": \"dat\",\n      \"airportget_code\": \"airportget_code\",\n      \"thread\": {\n        \"number\": \"number\",\n        \"title\": \"route\",\n        \"short_title\": \"route_short\",\n        \"carrier\": {\n          \"title\": \"airline_name\",\n          \"codes\": {\n            \"iata\": \"airline_iata\"\n          }\n        },\n        \"vehicle\": \"aircraft_name\",\n        \"uid\": \"uid\"\n      },\n      \"departure\": \"date\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"event\": \"departure\",\n      \"yairport\": \"${yairport}\"\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"24ce028c-2ab1-3448-8bd8-7417a51ce5bf","instanceIdentifier":"4e356467-019c-1000-f2be-aa7cd6137c9c","name":"InvokeHTTP - arrival","comments":"","position":{"x":-960.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.rasp.yandex.net/v3.0/schedule/?apikey=#{ykey}&system=iata&station=${yairport}&transport_types=plane&limit=#{ylimit}&event=arrival&date=${ydate}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"6897695e-5c18-3d01-83c8-8e2d19507938","instanceIdentifier":"50e7cfc0-019c-1000-8888-36b469a298c6","name":"SplitJson","comments":"","position":{"x":-32.0,"y":400.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.schedule"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"614dae8c-7edd-3d69-aaeb-d50483f6eabe","instanceIdentifier":"4e4381e8-019c-1000-50e8-a01b5d87cce2","name":"EvaluateJsonPath","comments":"","position":{"x":-64.0,"y":-416.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"yairport":"$.[0].iata","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","ydate":"$.[0].dt"},"propertyDescriptors":{"yairport":{"name":"yairport","displayName":"yairport","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ydate":{"name":"ydate","displayName":"ydate","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"552cbf40-bb38-3d1c-b363-479bda64294e","instanceIdentifier":"5861b9e7-019c-1000-7e1a-1c1f8166ff4c","name":"JoltTransformJSON - arrival","comments":"","position":{"x":-768.0,"y":960.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.6.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"dat\": \"dat\",\n      \"airportget_code\": \"airportget_code\",\n      \"thread\": {\n        \"number\": \"number\",\n        \"title\": \"route\",\n        \"short_title\": \"route_short\",\n        \"carrier\": {\n          \"title\": \"airline_name\",\n          \"codes\": {\n            \"iata\": \"airline_iata\"\n          }\n        },\n        \"vehicle\": \"aircraft_name\",\n        \"uid\": \"uid\"\n      },\n      \"arrival\": \"date\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"event\": \"arrival\",\n      \"yairport\": \"${yairport}\"\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"8abb7da9-8cec-3186-b13d-974fa71c14fe","instanceIdentifier":"56bfcc3f-019c-1000-9b7e-a0c487cf24fc","name":"PutDatabaseRecord","comments":"","position":{"x":-424.0,"y":1432.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":"ya","put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"7f9066f9-6c7e-3767-a400-2bc1ce42d155","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"Generic","put-db-record-table-name":"schedule","put-db-record-record-reader":"8a765870-9279-378d-a924-18d9b8b92181"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"6a3b6da6-0336-3c1b-a539-f4be69f988d8","instanceIdentifier":"5868eeb9-019c-1000-e775-37215d47b705","name":"RouteOnAttribute","comments":"","position":{"x":-408.0,"y":688.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Routing Strategy":"Route to Property name","arrival":"${event:equals(\"arrival\")}","departure":"${event:equals(\"departure\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"arrival":{"name":"arrival","displayName":"arrival","identifiesControllerService":false,"sensitive":false,"dynamic":true},"departure":{"name":"departure","displayName":"departure","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"90ed30e2-faae-3133-9d6c-97d2ced52f79","instanceIdentifier":"5869f975-019c-1000-85d5-593fc232da8a","name":"","source":{"id":"6897695e-5c18-3d01-83c8-8e2d19507938","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"SplitJson","comments":"","instanceIdentifier":"50e7cfc0-019c-1000-8888-36b469a298c6"},"destination":{"id":"6a3b6da6-0336-3c1b-a539-f4be69f988d8","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5868eeb9-019c-1000-e775-37215d47b705"},"labelIndex":0,"zIndex":9,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"6717217a-a3bf-3b9b-b966-8801e3759907","instanceIdentifier":"50e7ac85-019c-1000-3cdc-8e0081a48802","name":"","source":{"id":"f53e1c82-3ea2-3b57-ba70-d8f2462b1be9","type":"FUNNEL","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"Funnel","comments":"","instanceIdentifier":"50e709bc-019c-1000-0758-0e60901d6395"},"destination":{"id":"2556227f-d227-33de-a6b4-8b3094b50ff6","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"50e77e77-019c-1000-7c76-1ee05c36675f"},"labelIndex":0,"zIndex":7,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"1113b3ce-8af3-3f6e-9efe-9b46bdebecd9","instanceIdentifier":"586b9f94-019c-1000-f6bc-12e28774321d","name":"","source":{"id":"5320a4a6-0d60-300d-a78d-8be0fcddc31f","type":"FUNNEL","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"Funnel","comments":"","instanceIdentifier":"586b669c-019c-1000-6113-3efa64841d6b"},"destination":{"id":"8abb7da9-8cec-3186-b13d-974fa71c14fe","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"56bfcc3f-019c-1000-9b7e-a0c487cf24fc"},"labelIndex":0,"zIndex":14,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"d3aa8a46-2032-3f68-b2c2-17f087e4c737","instanceIdentifier":"586b2e30-019c-1000-ec64-64ac9954ced1","name":"","source":{"id":"6a3b6da6-0336-3c1b-a539-f4be69f988d8","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5868eeb9-019c-1000-e775-37215d47b705"},"destination":{"id":"586ad02b-019c-1000-2f5e-43b33e06beec","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"JoltTransformJSON - departure","comments":"","instanceIdentifier":"f5fed3b5-50a7-3a31-377b-ed9201b27ff0"},"labelIndex":0,"zIndex":11,"selectedRelationships":["departure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"d6189859-de0f-337e-9df3-df439fa8f5ae","instanceIdentifier":"50e73436-019c-1000-e8cb-df62e1708f31","name":"","source":{"id":"50ddd2e5-019c-1000-bf5a-bc6477236780","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"InvokeHTTP - departure","comments":"","instanceIdentifier":"dc4a76cf-ddf6-3a25-b3b6-2f10633d63ba"},"destination":{"id":"f53e1c82-3ea2-3b57-ba70-d8f2462b1be9","type":"FUNNEL","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"Funnel","comments":"","instanceIdentifier":"50e709bc-019c-1000-0758-0e60901d6395"},"labelIndex":0,"zIndex":6,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"a2cf3055-8bee-3d2f-b344-16d69b16f66d","instanceIdentifier":"586b1ac8-019c-1000-ecfa-6c37f8497bb0","name":"","source":{"id":"6a3b6da6-0336-3c1b-a539-f4be69f988d8","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5868eeb9-019c-1000-e775-37215d47b705"},"destination":{"id":"552cbf40-bb38-3d1c-b363-479bda64294e","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"JoltTransformJSON - arrival","comments":"","instanceIdentifier":"5861b9e7-019c-1000-7e1a-1c1f8166ff4c"},"labelIndex":0,"zIndex":10,"selectedRelationships":["arrival"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"e1be38ab-c185-3e9b-9acc-cc38fe5fd92f","instanceIdentifier":"586b7761-019c-1000-3ec2-1ab89106b024","name":"","source":{"id":"552cbf40-bb38-3d1c-b363-479bda64294e","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"JoltTransformJSON - arrival","comments":"","instanceIdentifier":"5861b9e7-019c-1000-7e1a-1c1f8166ff4c"},"destination":{"id":"5320a4a6-0d60-300d-a78d-8be0fcddc31f","type":"FUNNEL","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"Funnel","comments":"","instanceIdentifier":"586b669c-019c-1000-6113-3efa64841d6b"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"2d54fbb0-9a9f-3871-bef9-7050215ba5d3","instanceIdentifier":"50de39a0-019c-1000-a243-92afff4396cc","name":"","source":{"id":"02f3a0ba-ae3c-34b5-a345-2727bbb0a07d","type":"FUNNEL","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"Funnel","comments":"","instanceIdentifier":"50de13a1-019c-1000-f692-659c75d32b3c"},"destination":{"id":"24ce028c-2ab1-3448-8bd8-7417a51ce5bf","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"InvokeHTTP - arrival","comments":"","instanceIdentifier":"4e356467-019c-1000-f2be-aa7cd6137c9c"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"343baa69-fb1d-342d-8d95-1d5622a7a651","instanceIdentifier":"50de49b6-019c-1000-fa1d-e9cb721adf1b","name":"","source":{"id":"02f3a0ba-ae3c-34b5-a345-2727bbb0a07d","type":"FUNNEL","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"Funnel","comments":"","instanceIdentifier":"50de13a1-019c-1000-f692-659c75d32b3c"},"destination":{"id":"50ddd2e5-019c-1000-bf5a-bc6477236780","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"InvokeHTTP - departure","comments":"","instanceIdentifier":"dc4a76cf-ddf6-3a25-b3b6-2f10633d63ba"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"a397bcf2-6c35-3663-b190-6d1562102332","instanceIdentifier":"50e724de-019c-1000-60f6-ee137eef871c","name":"","source":{"id":"24ce028c-2ab1-3448-8bd8-7417a51ce5bf","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"InvokeHTTP - arrival","comments":"","instanceIdentifier":"4e356467-019c-1000-f2be-aa7cd6137c9c"},"destination":{"id":"f53e1c82-3ea2-3b57-ba70-d8f2462b1be9","type":"FUNNEL","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"Funnel","comments":"","instanceIdentifier":"50e709bc-019c-1000-0758-0e60901d6395"},"labelIndex":0,"zIndex":5,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"f351ed73-f19d-3f26-8715-17b0101a86ed","instanceIdentifier":"50dcdb15-019c-1000-615d-c78b6362469d","name":"","source":{"id":"7641a9f9-4565-376f-8185-3a68f2ce6d13","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"4e3b89a2-019c-1000-87b8-d434679255f3"},"destination":{"id":"614dae8c-7edd-3d69-aaeb-d50483f6eabe","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"4e4381e8-019c-1000-50e8-a01b5d87cce2"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"1b889ca5-163e-37a9-849e-e86f17af36ea","instanceIdentifier":"50de84f8-019c-1000-f99e-8b3b0dd30497","name":"","source":{"id":"614dae8c-7edd-3d69-aaeb-d50483f6eabe","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"4e4381e8-019c-1000-50e8-a01b5d87cce2"},"destination":{"id":"02f3a0ba-ae3c-34b5-a345-2727bbb0a07d","type":"FUNNEL","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"Funnel","comments":"","instanceIdentifier":"50de13a1-019c-1000-f692-659c75d32b3c"},"labelIndex":0,"zIndex":4,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"2220f493-a5b8-3e01-b740-2abaaf7f0fd1","instanceIdentifier":"50e81a4c-019c-1000-230e-9e07a429fb35","name":"","source":{"id":"2556227f-d227-33de-a6b4-8b3094b50ff6","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"50e77e77-019c-1000-7c76-1ee05c36675f"},"destination":{"id":"6897695e-5c18-3d01-83c8-8e2d19507938","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"SplitJson","comments":"","instanceIdentifier":"50e7cfc0-019c-1000-8888-36b469a298c6"},"labelIndex":0,"zIndex":8,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"8288840a-a4d8-342c-97d3-4a5fc60de80b","instanceIdentifier":"586b92ee-019c-1000-5882-cc33dd46cee3","name":"","source":{"id":"586ad02b-019c-1000-2f5e-43b33e06beec","type":"PROCESSOR","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"JoltTransformJSON - departure","comments":"","instanceIdentifier":"f5fed3b5-50a7-3a31-377b-ed9201b27ff0"},"destination":{"id":"5320a4a6-0d60-300d-a78d-8be0fcddc31f","type":"FUNNEL","groupId":"4a0689e6-31c7-3ed9-a106-d9287be96a99","name":"Funnel","comments":"","instanceIdentifier":"586b669c-019c-1000-6113-3efa64841d6b"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"}],"labels":[],"funnels":[{"identifier":"02f3a0ba-ae3c-34b5-a345-2727bbb0a07d","instanceIdentifier":"50de13a1-019c-1000-f692-659c75d32b3c","position":{"x":-288.0,"y":-192.0},"componentType":"FUNNEL","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"f53e1c82-3ea2-3b57-ba70-d8f2462b1be9","instanceIdentifier":"50e709bc-019c-1000-0758-0e60901d6395","position":{"x":-280.0,"y":224.0},"componentType":"FUNNEL","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"5320a4a6-0d60-300d-a78d-8be0fcddc31f","instanceIdentifier":"586b669c-019c-1000-6113-3efa64841d6b","position":{"x":-272.0,"y":1232.0},"componentType":"FUNNEL","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"}],"controllerServices":[{"identifier":"8a765870-9279-378d-a924-18d9b8b92181","instanceIdentifier":"56c55bb2-019c-1000-0fc3-1b67d5ec7e8a","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"},{"identifier":"ce990b44-d1fb-3f68-93d5-b93354ee612b","instanceIdentifier":"50dbd54e-019c-1000-186b-579cf544ef90","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4a0689e6-31c7-3ed9-a106-d9287be96a99"}],"parameterContextName":"YandexSettings","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"7f9066f9-6c7e-3767-a400-2bc1ce42d155":{"identifier":"7f9066f9-6c7e-3767-a400-2bc1ce42d155","name":"DBCPConnectionPool"}},"parameterContexts":{"YandexSettings":{"name":"YandexSettings","parameters":[{"name":"ylimit","description":"","sensitive":false,"provided":false,"value":"1000"},{"name":"ykey","description":"","sensitive":false,"provided":false,"value":"941254b3-5c04-475f-bebe-d66b743674ff"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}